In [1]:
import pandas as  pd 

## we call the files necessary to answer the questions. In this case: death and population

death = pd.read_csv('../Project-Week-2-Barcelona/datasets/3.-Population/deaths.csv')
population = pd.read_csv('../Project-Week-2-Barcelona/datasets/3.-Population/population.csv')

    ###############HOW MANY PEOPLE DIED IN DIFFERENT DISTRICTS OF BARCELONA? AND IN DIFFERENT YEARS?########################



    ##see the first rows of the file.csv
death.head() 

########GLOBAL VISON ABOUT DEATH PEOPLE BY YEAR, DISTRICT AND AGE sorted by # of dead people
deaths_cleaning = death.groupby(['Year','District.Name','Age']).sum().loc[:,['Number']] 
death_summary = deaths_cleaning.groupby(level=[0,1], group_keys=False).apply(lambda group: group.sort_values('Number', ascending=False))
death_summary

#######Declaration to see how many people died in XXXX, grouped by the name of District and the age of people (indexes) and showing as data the #######of dead people.
deaths_2017 = death.loc[(death.Year == 2017)].groupby(['District.Name']).sum().loc[:,['Number']]  
deaths_2017.sort_values('Number', ascending = False)

In [38]:
    ###############HOW MANY PEOPLE LIVE IN DIFFERENT DISTRICTS OF BARCELONA? AND IN DIFFERENT YEARS?########################



#######How many people live currently in 2017?
population.head()   


########GLOBAL VISON ABOUT POPULATION  BY YEAR, DISTRICT AND AGE sorted by # people
population_cleaning = population.groupby(['Year','District.Name','Age']).sum().loc[:,['Number']] 
population_summary = population_cleaning.groupby(level=[0,1], group_keys=False).apply(lambda group: group.sort_values('Number', ascending=False))
population_summary




#######Declaration to see how many people live in XXXX, grouped by the name of District and the age of people (indexes) and showing as data the #######of dead people.
population_2017 = population.loc[(population.Year == 2017)].groupby(['District.Name']).sum().loc[:,['Number']]  
population_2017.sort_values('Number', ascending = False)

                     Number
District.Name
Eixample             266416
Sant Martí           235513
Sants-Montjuïc       181910
Horta-Guinardó       168751
Nou Barris           166579
Sarrià-Sant Gervasi  149279
Sant Andreu          147594
Gràcia               121347
Ciutat Vella         101387
Les Corts             82033

In [48]:
###############WHAT IS THE DEATH RATIO IN BARCELONA FOR DIFFERENT DISTRICTS OF BARCELONA?########################

#######The death_ratio is  for different YEARS, different District and for different ages range.

ratio_death = deaths_cleaning.mul(1000).div(population_cleaning.iloc[0])
ratio_death

#######Declaration to see how much is the death ratio for each year ('15,'16, '17) in different districts in Barcelona, grouping by ages. 

ratio_death__2016 = deaths_2016.mul(100).div(population_2016.iloc[0])
ratio_death_2016

                     Number
District.Name
Ciutat Vella            830
Eixample               2730
Gràcia                 1229
Horta-Guinardó         1798
Les Corts               769
Nou Barris             1679
Sant Andreu            1290
Sant Martí             2062
Sants-Montjuïc         1690
Sarrià-Sant Gervasi    1401

In [16]:
            ## What is the death rate by district.
    ###How many people died in 2017?

death.head()                                            ##see the first rows of the file.csv
deaths_2017 = death.loc[(death.Year == 2017)].groupby(['District.Name']).sum().loc[:,['Number']]  
deaths_2017.sort_values('Number', ascending = False)

            #How many people live currently in 2017?
#population.head()                                            ##see the first rows of the file.csv
#population_2017 = population.loc[(population.Year == 2017)].groupby(['District.Name']).sum().loc[:,['Number']]  
#population_2017


            #The death_ratio is
#ratio_death_districts = deaths_2017.mul(100).div(population_2017.iloc[0])
#ratio_death_districts.reset_index().describe(include='all')
#ratio_death_districts.sort_values('Number', ascending = False)
#ratio_death_districts

                     Number
District.Name
Eixample               2738
Sant Martí             2069
Horta-Guinardó         1806
Sants-Montjuïc         1760
Nou Barris             1749
Sarrià-Sant Gervasi    1362
Sant Andreu            1326
Gràcia                 1176
Ciutat Vella            813
Les Corts               765

            ## What is the death rate by age.
    ###How many people died in 2017?

death.head()                                            ##see the first rows of the file.csv
deaths_2017 = death.loc[(death.Year == 2017)].groupby(['Age']).sum().loc[:,['Number']]  
deaths_2017


            #How many people live currently in 2017?
population.head()                                            ##see the first rows of the file.csv
population_2017 = population.loc[(population.Year == 2017)].groupby(['Age']).sum().loc[:,['Number']]  
population_2017


            #The death_ratio is
ratio_death_age = deaths_2017.mul(100).div(population_2017.iloc[0])
ratio_death_age.sort_values('Number', ascending = False)
#ratio_death_age.describe()