In [1]:
import pandas as  pd 

## we call the files necessary to answer the questions. In this case: death and population
names = pd.read_csv('../Project-Week-2-Barcelona/datasets/3.-Population/most-frequent-names.csv')

In [2]:
names.head()

   Order        Name  Gender       Decade  Frequency
0      1       MARIA  Female  Before 1930       2085
1      2      CARMEN  Female  Before 1930       1463
2      3      JOSEFA  Female  Before 1930       1032
3      4  MONTSERRAT  Female  Before 1930        879
4      5        ROSA  Female  Before 1930        762

In [44]:
################################# What is the most  female frequent name in this century    ############################################

###########we use these commments to extract information about which kind of info have the dataframe, their columns, etc. 

names.head()                                                 
#names.columns
#names.Decade.unique()

names_total_F = names.loc[(names.Gender == 'Female') & (names.Decade == 'TOTAL')].loc[:,['Name','Frequency']]
names_total_F.sort_values('Frequency', ascending = False)
names_total_F.max()




#summary = names_total_F.groupby(level=['Decade','Name'], group_keys=False).apply(lambda group: group.nlargest(1, 'Frequency'))
#summary

Name         TERESA
Frequency     19173
dtype: object

In [43]:
################################# What is the most  male frequent name in this century    ############################################

names_total_M = names.loc[(names.Decade == 'TOTAL') & (names.Gender == 'Male')].loc[:,['Name', 'Frequency']]
names_total_M.sort_values('Frequency', ascending = False)
names_total_M.min()

Name         ALBERT
Frequency      2988
dtype: object