Questions on Immigration

In [215]:
import pandas as pd
import numpy as np

In [2]:
##files to import

by_nationality = pd.read_csv("/Users/p/Documents/Ironhack/Projects/Project-Week-2-Barcelona/datasets/3.-Population/immigrants-by-nationality.csv")
population=pd.read_csv("/Users/p/Documents/Ironhack/Projects/Project-Week-2-Barcelona/datasets/3.-Population/population.csv")

In [7]:
## I want to calculate the percentage of the population that are foreigners, so I created the variables for the population of each year

population_tot=population.groupby(['Year']).sum().loc[:,'Number'] # for the total

population_2017=population_tot[2017] # 2017
population_2016=population_tot[2016] # 2016
population_2015=population_tot[2015] # 2015

numpy.int64

In [12]:
""""
This dataframe includes Spanish people from outside Barcelona as immigrants in Barcelona.
So, I created a dataframe for all immigrants that are not from Spain because they are qualitatively different in 
terms of rights, access to public services and other relevant variables for this analysis
"""

'"\nThis dataframe includes Spanish people from outside Barcelona as immigrants in Barcelona.\nSo, I created a dataframe for all immigrants that are not from Spain because they are qualitatively different in \nterms of rights, access to public services and other relevant stuff\n'

In [9]:

foreigners = by_nationality.loc[(by_nationality.Nationality != "Spain")]

In [ ]:
## I renamed some of the headers so they didn't have a whitespace
by_nationality=by_nationality.rename(columns={'Neighborhood Name':'Neighborhood_Name',
                               'District Name':'District_Name',
                               'District Code':'District_Code',
                               'Neighborhood Code':'Neighborhood_Code'
                              })

What is the total number of immigrants by year?

In [13]:
by_nationality.groupby('Year').sum()['Number']

Year
2015    88982
2016    85172
2017    97327
Name: Number, dtype: int64

In [ ]:
"""
I created a variable with the value for each year to calculate percentage 
of immigrants over total population per year

"""

In [17]:
foreigners_tot=foreigners.groupby(['Year']).sum().loc[:,'Number']
foreigners_2017=foreigners_tot[2017]
foreigners_2016=foreigners_tot[2016]
foreigners_2015=foreigners_tot[2015]

52122

In [246]:
foreigners_2017_perc=(foreigners_2017/population_2017)*100
foreigners_2016_perc=(foreigners_2016/population_2016)*100
foreigners_2015_perc=(foreigners_2015/population_2015)*100

In [254]:
## I saved the results in an excel file
foreigners_tot.to_excel(r'/Users/p/Desktop/Prueba/foreigners_by_year.xlsx')

Year
2015    50956
2016    52122
2017    61973
Name: Number, dtype: int64

What is the most frequent nationality of immigrants in Barcelona?

In [251]:
# Created a dataframe with all the foreign immigrants grouped by Year and Nationality and sums frequencies
freq_nationalities_f=pd.DataFrame(foreigners.groupby(['Year','Nationality']).sum().loc[:,'Number'])

In [90]:
# Created a dataframe with all the foreign immigrants only for a given year (in this case 2015) grouped Nationality and sums frequencies

freq_nationalities_2015=pd.DataFrame(foreigners.loc[(foreigners.Year == 2015)].groupby(['Nationality']).sum().loc[:,'Number'])
freq_nationalities_2015.sort_values('Number', ascending =False)

                          Number
Nationality
Italy                       4811
Pakistan                    3708
China                       3091
France                      2176
Colombia                    1971
Morocco                     1934
Honduras                    1880
Venezuela                   1571
Peru                        1416
Brasil                      1410
India                       1371
Ecuador                     1335
Russia                      1322
Argentina                   1208
Bolivia                     1147
United States               1128
Mexico                      1119
Dominican Republic          1117
United Kingdom              1112
Romania                     1074
Ukraine                     1033
Germany                      980
Philippines                  769
Chile                        754
Portugal                     741
Paraguay                     609
Bangladesh                   593
Netherlands                  491
Georgia                      485
Poland                       421
...                          ...
Uganda                         3
Benin                          3
Yemen                          3
Dominica                       3
Ethiopia                       3
Sudan                          3
Qatar                          3
Somalia                        3
Madagascar                     3
Jamaica                        3
Gabon                          2
Central African Republic       2
Mauritius                      2
Rwanda                         2
Cape Verde                     2
Seychelles                     1
Trinidad and Tobago            1
Sierra Leone                   1
Namibia                        1
Taiwan                         1
Saint Kitts and Nevis          1
Cambodja                       1
Burundi                        1
Djibouti                       1
Maldives                       1
Barbados                       1
Bahrain                        1
Grenada                        1
Swaziland                      1
Oman                           1

[153 rows x 1 columns]

In [ ]:
pd.DataFrame(by_nationality.groupby(['District_Name','Nationality']).sum().loc['Ciutat Vella', 'Number']).sort_values('Number', ascending=False)

In [ ]:

by_nationality.Nationality.value_counts()

In [ ]:
by_nationality.groupby("Year").sum()

In [ ]:
#by_nationality.groupby(["Year","District_Name"]).sum() ## if you reverse the order you get the inverse order of columns
by_nationality.groupby(["District_Name","Year"]).mean()
by_nationality.groupby(["District_Name","Year"]).mean().loc[("Ciutat Vella",2015)]

Do immigrants of the same nationality settle in the same Districts?

In [34]:
foreigners.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
74,2017,1,Ciutat Vella,1,el Raval,Italy,360
75,2017,1,Ciutat Vella,2,el Barri Gòtic,Italy,275
76,2017,1,Ciutat Vella,3,la Barceloneta,Italy,285
77,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Italy,355
78,2017,2,Eixample,5,el Fort Pienc,Italy,207

In [91]:
tot_foreigners_by_district=foreigners.groupby(["District Name","Year"]).sum()

In [98]:
test = foreigners.groupby(["District Name","Year","Nationality"]).sum()

In [100]:
test.drop(['District Code', 'Neighborhood Code'], axis=1, inplace=True)

In [115]:
foreigners.groupby(["District Name","Year"]).sum().head(10)

                     District Code  Neighborhood Code  Number
District Name  Year
Ciutat Vella   2015            612               1530    8818
               2016            648               1620    8686
               2017            632               1580   10069
Eixample       2015           1836               6885   10124
               2016           1944               7290   10622
               2017           1896               7110   12487
Gràcia         2015           4590              22950    3642
               2016           4860              24300    3559
               2017           4740              23700    4310
Horta-Guinardó 2015          11781              63954    3349

In [131]:
test.loc[('Ciutat Vella', 2017)].sort_values('Number', ascending=False)

                       Number
Nationality
Italy                    1275
Pakistan                  998
France                    596
Bangladesh                566
Morocco                   434
United Kingdom            393
Philippines               368
India                     364
Argentina                 319
Germany                   293
Colombia                  269
Venezuela                 266
United States             263
Brasil                    217
Netherlands               180
Chile                     177
Peru                      146
Russia                    145
Portugal                  145
Mexico                    142
Romania                   136
China                     134
Sweden                    115
Ecuador                   107
Poland                    103
Honduras                  102
Turkey                     99
Dominican Republic         75
Algeria                    75
Ukraine                    74
...                       ...
Bahrain                     0
United Arab Emirates        0
Togo                        0
Malawi                      0
Jamaica                     0
Laos                        0
Turkmenistan                0
Kyrgyzstan                  0
Benin                       0
Maldives                    0
Yemen                       0
Zambia                      0
Barbados                    0
Myanmar                     0
The Bahamas                 0
São Tomé and Príncipe       0
Botswana                    0
Cambodja                    0
Sri Lanka                   0
Niger                       0
Cape Verde                  0
Somalia                     0
Solomon Islands             0
Oman                        0
Chad                        0
Grenada                     0
Gabon                       0
Ethiopia                    0
Congo                       0
Zimbabwe                    0

[158 rows x 1 columns]

In [116]:
def sort_groups(group):
    return group.sort_values('Number', ascending=False)

In [133]:
test.groupby(level=[0,1], group_keys=False).apply(lambda group: group.sort_values('Number', ascending=False))

                                                Number
District Name       Year Nationality
Ciutat Vella        2015 Pakistan                 1243
                         Italy                    1080
                         France                    439
                         Bangladesh                427
                         Morocco                   400
                         India                     359
                         Philippines               338
                         United Kingdom            292
                         Germany                   241
                         United States             201
                         Brasil                    198
                         Argentina                 185
                         Colombia                  185
                         Mexico                    185
                         Russia                    166
                         China                     161
                         Venezuela                 146
                         Romania                   142
                         Netherlands               133
                         Portugal                  120
                         Ukraine                   116
                         Sweden                    112
                         Chile                     107
                         Ecuador                   106
                         Peru                       82
                         Dominican Republic         78
                         Belgium                    76
                         Algeria                    75
                         Poland                     75
                         Syria                      71
...                                                ...
Sarrià-Sant Gervasi 2017 Zambia                      0
                         Togo                        0
                         São Tomé and Príncipe       0
                         Afghanistan                 0
                         Sri Lanka                   0
                         Somalia                     0
                         Antigua and Barbuda         0
                         Bahrain                     0
                         Barbados                    0
                         Benin                       0
                         Botswana                    0
                         Cape Verde                  0
                         Dominica                    0
                         Ethiopia                    0
                         Gabon                       0
                         Grenada                     0
                         Haiti                       0
                         Jamaica                     0
                         Kuwait                      0
                         Laos                        0
                         Libya                       0
                         Madagascar                  0
                         Malta                       0
                         Mongolia                    0
                         Niger                       0
                         Oman                        0
                         Qatar                       0
                         Sierra Leone                0
                         Solomon Islands             0
                         Zimbabwe                    0

[5203 rows x 1 columns]

In [130]:
test.groupby(level=['District Name','Year'], group_keys=False).apply(lambda group: group.nlargest(1, 'Number'))

                                      Number
District Name       Year Nationality
Ciutat Vella        2015 Pakistan       1243
                    2016 Italy          1055
                    2017 Italy          1275
Eixample            2015 Italy          1218
                    2016 Italy          1257
                    2017 Italy          1568
Gràcia              2015 Italy           482
                    2016 Italy           474
                    2017 Italy           598
Horta-Guinardó      2015 Italy           283
                    2016 Italy           275
                    2017 Italy           413
Les Corts           2015 China           171
                    2016 Italy           171
                    2017 Italy           205
No consta           2015 Italy             2
                    2016 Peru              2
                    2017 Afghanistan       0
Nou Barris          2015 Honduras        707
                    2016 Honduras        858
                    2017 Honduras       1091
Sant Andreu         2015 Pakistan        301
                    2016 China           272
                    2017 Peru            280
Sant Martí          2015 Pakistan        708
                    2016 Italy           602
                    2017 Italy           798
Sants-Montjuïc      2015 Pakistan        672
                    2016 Italy           522
                    2017 Italy           684
Sarrià-Sant Gervasi 2015 Italy           297
                    2016 Italy           334
                    2017 Italy           396

In [123]:
test.groupby(level=['District Name','Year'], group_keys=False).apply(sort_groups)

                                                Number
District Name       Year Nationality
Ciutat Vella        2015 Pakistan                 1243
                         Italy                    1080
                         France                    439
                         Bangladesh                427
                         Morocco                   400
                         India                     359
                         Philippines               338
                         United Kingdom            292
                         Germany                   241
                         United States             201
                         Brasil                    198
                         Argentina                 185
                         Colombia                  185
                         Mexico                    185
                         Russia                    166
                         China                     161
                         Venezuela                 146
                         Romania                   142
                         Netherlands               133
                         Portugal                  120
                         Ukraine                   116
                         Sweden                    112
                         Chile                     107
                         Ecuador                   106
                         Peru                       82
                         Dominican Republic         78
                         Belgium                    76
                         Algeria                    75
                         Poland                     75
                         Syria                      71
...                                                ...
Sarrià-Sant Gervasi 2017 Zambia                      0
                         Togo                        0
                         São Tomé and Príncipe       0
                         Afghanistan                 0
                         Sri Lanka                   0
                         Somalia                     0
                         Antigua and Barbuda         0
                         Bahrain                     0
                         Barbados                    0
                         Benin                       0
                         Botswana                    0
                         Cape Verde                  0
                         Dominica                    0
                         Ethiopia                    0
                         Gabon                       0
                         Grenada                     0
                         Haiti                       0
                         Jamaica                     0
                         Kuwait                      0
                         Laos                        0
                         Libya                       0
                         Madagascar                  0
                         Malta                       0
                         Mongolia                    0
                         Niger                       0
                         Oman                        0
                         Qatar                       0
                         Sierra Leone                0
                         Solomon Islands             0
                         Zimbabwe                    0

[5203 rows x 1 columns]

In [113]:
test.groupby(level=[0,1], group_keys=False).apply(lambda group: group.sort_values('Number', ascending=False))

                                                Number
District Name       Year Nationality
Ciutat Vella        2015 Pakistan                 1243
                         Italy                    1080
                         France                    439
                         Bangladesh                427
                         Morocco                   400
                         India                     359
                         Philippines               338
                         United Kingdom            292
                         Germany                   241
                         United States             201
                         Brasil                    198
                         Argentina                 185
                         Colombia                  185
                         Mexico                    185
                         Russia                    166
                         China                     161
                         Venezuela                 146
                         Romania                   142
                         Netherlands               133
                         Portugal                  120
                         Ukraine                   116
                         Sweden                    112
                         Chile                     107
                         Ecuador                   106
                         Peru                       82
                         Dominican Republic         78
                         Belgium                    76
                         Algeria                    75
                         Poland                     75
                         Syria                      71
...                                                ...
Sarrià-Sant Gervasi 2017 Zambia                      0
                         Togo                        0
                         São Tomé and Príncipe       0
                         Afghanistan                 0
                         Sri Lanka                   0
                         Somalia                     0
                         Antigua and Barbuda         0
                         Bahrain                     0
                         Barbados                    0
                         Benin                       0
                         Botswana                    0
                         Cape Verde                  0
                         Dominica                    0
                         Ethiopia                    0
                         Gabon                       0
                         Grenada                     0
                         Haiti                       0
                         Jamaica                     0
                         Kuwait                      0
                         Laos                        0
                         Libya                       0
                         Madagascar                  0
                         Malta                       0
                         Mongolia                    0
                         Niger                       0
                         Oman                        0
                         Qatar                       0
                         Sierra Leone                0
                         Solomon Islands             0
                         Zimbabwe                    0

[5203 rows x 1 columns]

In [104]:
test.sort_values('Number', ascending=False)

                                                 Number
District Name       Year Nationality
Eixample            2017 Italy                     1568
Ciutat Vella        2017 Italy                     1275
Eixample            2016 Italy                     1257
Ciutat Vella        2015 Pakistan                  1243
Eixample            2015 Italy                     1218
Nou Barris          2017 Honduras                  1091
Ciutat Vella        2015 Italy                     1080
                    2016 Italy                     1055
                         Pakistan                  1001
                    2017 Pakistan                   998
Eixample            2017 China                      918
                    2015 China                      892
                    2016 China                      864
Nou Barris          2016 Honduras                   858
Sant Martí          2017 Italy                      798
Eixample            2017 Colombia                   781
                         Venezuela                  724
Sant Martí          2015 Pakistan                   708
Nou Barris          2015 Honduras                   707
Sants-Montjuïc      2017 Italy                      684
                    2015 Pakistan                   672
Eixample            2017 France                     665
Sant Martí          2017 Pakistan                   629
                         China                      606
                    2016 Italy                      602
Gràcia              2017 Italy                      598
Ciutat Vella        2017 France                     596
Eixample            2016 Colombia                   580
Sant Martí          2016 Pakistan                   578
Ciutat Vella        2017 Bangladesh                 566
...                                                 ...
No consta           2017 Dominican Republic           0
                         Ecuador                      0
                         Egypt                        0
                         El Salvador                  0
                         Equatorial Guinea            0
                         Eritrea                      0
                         Estonia                      0
                         Chad                         0
                         Canada                       0
                         Antigua and Barbuda          0
                         Belarus                      0
                         Argentina                    0
                         Armenia                      0
                         Australia                    0
                         Austria                      0
                         Azerbaijan                   0
                         Bahrain                      0
                         Bangladesh                   0
                         Barbados                     0
                         Belgium                      0
                         Camerun                      0
                         Benin                        0
                         Bolivia                      0
                         Bosnia and Herzegovina       0
                         Botswana                     0
                         Brasil                       0
                         Bulgaria                     0
                         Burkina Faso                 0
                         Cambodja                     0
Sarrià-Sant Gervasi 2017 Zimbabwe                     0

[5203 rows x 1 columns]

In [97]:
freq_nationalities_by_dist_2015=pd.DataFrame(foreigners.groupby(["Year","District Name","Nationality"]).sum().loc[:,'Number'])
freq_nationalities_by_dist_2015.sort_values('Number', ascending =False)

                                      Number
Year District Name       Nationality
2017 Eixample            Italy          1568
     Ciutat Vella        Italy          1275
2016 Eixample            Italy          1257
2015 Ciutat Vella        Pakistan       1243
     Eixample            Italy          1218
2017 Nou Barris          Honduras       1091
2015 Ciutat Vella        Italy          1080
2016 Ciutat Vella        Italy          1055
                         Pakistan       1001
2017 Ciutat Vella        Pakistan        998
     Eixample            China           918
2015 Eixample            China           892
2016 Eixample            China           864
     Nou Barris          Honduras        858
2017 Sant Martí          Italy           798
     Eixample            Colombia        781
                         Venezuela       724
2015 Sant Martí          Pakistan        708
     Nou Barris          Honduras        707
2017 Sants-Montjuïc      Italy           684
2015 Sants-Montjuïc      Pakistan        672
2017 Eixample            France          665
     Sant Martí          Pakistan        629
                         China           606
2016 Sant Martí          Italy           602
2017 Gràcia              Italy           598
     Ciutat Vella        France          596
2016 Eixample            Colombia        580
     Sant Martí          Pakistan        578
2017 Ciutat Vella        Bangladesh      566
...                                      ...
2016 No consta           Mauritania        0
                         Mauritius         0
                         Mexico            0
                         Moldova           0
                         Mongolia          0
                         Montenegro        0
                         Morocco           0
                         Mozambique        0
                         Myanmar           0
                         Libya             0
                         Liberia           0
                         Lesotho           0
                         Ivory Coast       0
                         India             0
                         Indonesia         0
                         Iran              0
                         Iraq              0
                         Ireland           0
                         Israel            0
                         Italy             0
                         Jamaica           0
                         Lebanon           0
                         Japan             0
                         Jordan            0
                         Kazakhstan        0
                         Kenya             0
                         Kuwait            0
                         Kyrgyzstan        0
                         Latvia            0
2017 Sarrià-Sant Gervasi Zimbabwe          0

[5203 rows x 1 columns]

In [136]:
all_nationalities=Nationality.unique()

AttributeError: 'DataFrame' object has no attribute 'Nationality'

In [135]:
all_nationalities

spanish=
europe_immigrants=
non_eu_immigrants=

array(['Spain', 'Italy', 'China', 'Colombia', 'Venezuela', 'Pakistan',
       'Honduras', 'France', 'Peru', 'Morocco', 'Argentina', 'Brasil',
       'United States', 'United Kingdom', 'India', 'Ecuador', 'Russia',
       'Germany', 'Dominican Republic', 'Mexico', 'Romania', 'Chile',
       'Bolivia', 'Portugal', 'Ukraine', 'Bangladesh', 'Philippines',
       'Paraguay', 'Georgia', 'Netherlands', 'Cuba', 'Poland',
       'El Salvador', 'Turkey', 'Iran', 'Japan', 'Uruguay', 'Sweden',
       'Nepal', 'Armenia', 'Belgium', 'Bulgaria', 'Algeria',
       'South Korea', 'Nicaragua', 'Canada', 'Senegal', 'Switzerland',
       'Greece', 'Ireland', 'Costa Rica', 'Hungary', 'Egypt', 'Panama',
       'Lebanon', 'Nigeria', 'Guatemala', 'Israel', 'Austria', 'Denmark',
       'Finland', 'Kazakhstan', 'Lithuania', 'Syria', 'Vietnam',
       'Albania', 'Belarus', 'Australia', 'Czech Republic', 'Croatia',
       'Equatorial Guinea', 'Serbia', 'Slovakia', 'Norway', 'Tunisia',
       'Ghana', 'Latvia', 'Moldova', 'Andorra', 'South Africa',
       'Slovenia', 'Gambia', 'Camerun', 'Indonesia', 'Jordan',
       'Azerbaijan', 'Estonia', 'Guinea', 'Iraq', 'Saudi Arabia',
       'State of Palestine', 'Uzbekistan', 'Cyprus', 'Iceland', 'Libya',
       'Thailand', 'Mali', 'New Zealand', 'Afghanistan', 'Macedonia',
       'Angola', 'Ivory Coast', 'Kenya', 'Malaysia', 'Mongolia',
       'Bosnia and Herzegovina', 'Singapore', 'Luxembourg', 'Sudan',
       'Guinea-Bissau', 'Tanzania', 'Dominica', 'Kyrgyzstan', 'Congo',
       'Mauritania', 'Malta', 'Kuwait', 'Montenegro', 'Mozambique',
       'Uganda', 'Benin', 'Haiti', 'Trinidad and Tobago', 'Myanmar',
       'Ethiopia', 'Mauritius', 'Namibia', 'Sierra Leone', 'Qatar',
       'Sri Lanka', 'Burkina Faso', 'Malawi', 'Togo', 'Eritrea',
       'United Arab Emirates', 'Cambodja', 'Turkmenistan', 'Chad',
       'Zimbabwe', 'Botswana', 'Gabon', 'Madagascar', 'Niger', 'Somalia',
       'Zambia', 'The Bahamas', 'Jamaica', 'Yemen', 'Cape Verde',
       'São Tomé and Príncipe', 'Antigua and Barbuda', 'Barbados',
       'Grenada', 'Bahrain', 'Laos', 'Maldives', 'Oman',
       'Solomon Islands', 'No information', 'Burundi',
       'Central African Republic', 'North Korea', 'Guyana', 'Lesotho',
       'Liberia', 'Puerto Rico', 'Rwanda', 'Saint Kitts and Nevis',
       'San Marino', 'Seychelles', 'Suriname', 'Tajikistan', 'East Timor',
       'Palestinian territories', 'Djibouti', 'Swaziland', 'Taiwan'],
      dtype=object)

In [139]:
population

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
5,2017,2,Eixample,6,la Sagrada Família,Male,0-4,191
6,2017,2,Eixample,7,la Dreta de l'Eixample,Male,0-4,176
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Male,0-4,158
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,Male,0-4,220
9,2017,2,Eixample,10,Sant Antoni,Male,0-4,143
10,2017,3,Sants-Montjuïc,11,el Poble Sec,Male,0-4,180
11,2017,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Male,0-4,10
12,2017,3,Sants-Montjuïc,13,la Marina de Port,Male,0-4,124
13,2017,3,Sants-Montjuïc,14,la Font de la Guatlla,Male,0-4,47
14,2017,3,Sants-Montjuïc,15,Hostafrancs,Male,0-4,79
15,2017,3,Sants-Montjuïc,16,la Bordeta,Male,0-4,80
16,2017,3,Sants-Montjuïc,17,Sants - Badal,Male,0-4,84
17,2017,3,Sants-Montjuïc,18,Sants,Male,0-4,195
18,2017,4,Les Corts,19,les Corts,Male,0-4,173
19,2017,4,Les Corts,20,la Maternitat i Sant Ramon,Male,0-4,85
20,2017,4,Les Corts,21,Pedralbes,Male,0-4,37
21,2017,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",Male,0-4,16
22,2017,5,Sarrià-Sant Gervasi,23,Sarrià,Male,0-4,119
23,2017,5,Sarrià-Sant Gervasi,24,les Tres Torres,Male,0-4,71
24,2017,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Male,0-4,104
25,2017,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,Male,0-4,203
26,2017,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,Male,0-4,150
27,2017,6,Gràcia,28,Vallcarca i els Penitents,Male,0-4,66
28,2017,6,Gràcia,29,el Coll,Male,0-4,37
29,2017,6,Gràcia,30,la Salut,Male,0-4,57
...,...,...,...,...,...,...,...,...
70050,2013,8,Nou Barris,44,Vilapicina i la Torre Llobeta,Female,>=95,67
70051,2013,8,Nou Barris,45,Porta,Female,>=95,43
70052,2013,8,Nou Barris,46,el Turó de la Peira,Female,>=95,18
70053,2013,8,Nou Barris,47,Can Peguera,Female,>=95,5
70054,2013,8,Nou Barris,48,la Guineueta,Female,>=95,13
70055,2013,8,Nou Barris,49,Canyelles,Female,>=95,3
70056,2013,8,Nou Barris,50,les Roquetes,Female,>=95,12
70057,2013,8,Nou Barris,51,Verdun,Female,>=95,15
70058,2013,8,Nou Barris,52,la Prosperitat,Female,>=95,23
70059,2013,8,Nou Barris,53,la Trinitat Nova,Female,>=95,17
70060,2013,8,Nou Barris,54,Torre Baró,Female,>=95,4
70061,2013,8,Nou Barris,55,Ciutat Meridiana,Female,>=95,4
70062,2013,8,Nou Barris,56,Vallbona,Female,>=95,5
70063,2013,9,Sant Andreu,57,la Trinitat Vella,Female,>=95,9
70064,2013,9,Sant Andreu,58,Baró de Viver,Female,>=95,3
70065,2013,9,Sant Andreu,59,el Bon Pastor,Female,>=95,8
70066,2013,9,Sant Andreu,60,Sant Andreu,Female,>=95,103
70067,2013,9,Sant Andreu,61,la Sagrera,Female,>=95,45
70068,2013,9,Sant Andreu,62,el Congrés i els Indians,Female,>=95,35
70069,2013,9,Sant Andreu,63,Navas,Female,>=95,39
70070,2013,10,Sant Martí,64,el Camp de l'Arpa del Clot,Female,>=95,91
70071,2013,10,Sant Martí,65,el Clot,Female,>=95,36
70072,2013,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Female,>=95,18
70073,2013,10,Sant Martí,67,la Vila Olímpica del Poblenou,Female,>=95,9
70074,2013,10,Sant Martí,68,el Poblenou,Female,>=95,48
70075,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
70076,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
70077,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
70078,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
70079,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

In [140]:
rent = pd.read_csv("/Users/p/Documents/Ironhack/Projects/Project-Week-2-Barcelona/datasets/6.-Extra/2017_lloguer_preu_trim.csv")

In [141]:
rent

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2017,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),734.99
1,2017,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),905.26
2,2017,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),722.78
3,2017,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),895.28
4,2017,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),871.08
5,2017,1,2,Eixample,6,la Sagrada Família,Lloguer mitjà mensual (Euros/mes),847.04
6,2017,1,2,Eixample,7,la Dreta de l'Eixample,Lloguer mitjà mensual (Euros/mes),1151.09
7,2017,1,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Lloguer mitjà mensual (Euros/mes),1001.49
8,2017,1,2,Eixample,9,la Nova Esquerra de l'Eixample,Lloguer mitjà mensual (Euros/mes),909.08
9,2017,1,2,Eixample,10,Sant Antoni,Lloguer mitjà mensual (Euros/mes),876.97
10,2017,1,3,Sants-Montjuïc,11,el Poble Sec,Lloguer mitjà mensual (Euros/mes),715.71
11,2017,1,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
12,2017,1,3,Sants-Montjuïc,13,la Marina de Port,Lloguer mitjà mensual (Euros/mes),689.16
13,2017,1,3,Sants-Montjuïc,14,la Font de la Guatlla,Lloguer mitjà mensual (Euros/mes),806.34
14,2017,1,3,Sants-Montjuïc,15,Hostafrancs,Lloguer mitjà mensual (Euros/mes),680.17
15,2017,1,3,Sants-Montjuïc,16,la Bordeta,Lloguer mitjà mensual (Euros/mes),739.35
16,2017,1,3,Sants-Montjuïc,17,Sants - Badal,Lloguer mitjà mensual (Euros/mes),697.58
17,2017,1,3,Sants-Montjuïc,18,Sants,Lloguer mitjà mensual (Euros/mes),737.27
18,2017,1,4,Les Corts,19,les Corts,Lloguer mitjà mensual (Euros/mes),936.32
19,2017,1,4,Les Corts,20,la Maternitat i Sant Ramon,Lloguer mitjà mensual (Euros/mes),896.45
20,2017,1,4,Les Corts,21,Pedralbes,Lloguer mitjà mensual (Euros/mes),1856.57
21,2017,1,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",Lloguer mitjà mensual (Euros/mes),1248.00
22,2017,1,5,Sarrià-Sant Gervasi,23,Sarrià,Lloguer mitjà mensual (Euros/mes),1291.50
23,2017,1,5,Sarrià-Sant Gervasi,24,les Tres Torres,Lloguer mitjà mensual (Euros/mes),1516.52
24,2017,1,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Lloguer mitjà mensual (Euros/mes),1182.12
25,2017,1,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,Lloguer mitjà mensual (Euros/mes),1268.61
26,2017,1,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,Lloguer mitjà mensual (Euros/mes),913.45
27,2017,1,6,Gràcia,28,Vallcarca i els Penitents,Lloguer mitjà mensual (Euros/mes),946.59
28,2017,1,6,Gràcia,29,el Coll,Lloguer mitjà mensual (Euros/mes),687.42
29,2017,1,6,Gràcia,30,la Salut,Lloguer mitjà mensual (Euros/mes),841.38
...,...,...,...,...,...,...,...,...
554,2017,4,8,Nou Barris,44,Vilapicina i la Torre Llobeta,Lloguer mitjà per superfície (Euros/m2 mes),11.57
555,2017,4,8,Nou Barris,45,Porta,Lloguer mitjà per superfície (Euros/m2 mes),11.01
556,2017,4,8,Nou Barris,46,el Turó de la Peira,Lloguer mitjà per superfície (Euros/m2 mes),11.09
557,2017,4,8,Nou Barris,47,Can Peguera,Lloguer mitjà per superfície (Euros/m2 mes),NaN
558,2017,4,8,Nou Barris,48,la Guineueta,Lloguer mitjà per superfície (Euros/m2 mes),9.83
559,2017,4,8,Nou Barris,49,Canyelles,Lloguer mitjà per superfície (Euros/m2 mes),8.96
560,2017,4,8,Nou Barris,50,les Roquetes,Lloguer mitjà per superfície (Euros/m2 mes),10.86
561,2017,4,8,Nou Barris,51,Verdun,Lloguer mitjà per superfície (Euros/m2 mes),11.68
562,2017,4,8,Nou Barris,52,la Prosperitat,Lloguer mitjà per superfície (Euros/m2 mes),11.44
563,2017,4,8,Nou Barris,53,la Trinitat Nova,Lloguer mitjà per superfície (Euros/m2 mes),10.81
564,2017,4,8,Nou Barris,54,Torre Baró,Lloguer mitjà per superfície (Euros/m2 mes),7.17
565,2017,4,8,Nou Barris,55,Ciutat Meridiana,Lloguer mitjà per superfície (Euros/m2 mes),7.55
566,2017,4,8,Nou Barris,56,Vallbona,Lloguer mitjà per superfície (Euros/m2 mes),NaN
567,2017,4,9,Sant Andreu,57,la Trinitat Vella,Lloguer mitjà per superfície (Euros/m2 mes),10.14
568,2017,4,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà per superfície (Euros/m2 mes),NaN
569,2017,4,9,Sant Andreu,59,el Bon Pastor,Lloguer mitjà per superfície (Euros/m2 mes),8.79
570,2017,4,9,Sant Andreu,60,Sant Andreu,Lloguer mitjà per superfície (Euros/m2 mes),12.44
571,2017,4,9,Sant Andreu,61,la Sagrera,Lloguer mitjà per superfície (Euros/m2 mes),11.69
572,2017,4,9,Sant Andreu,62,el Congrés i els Indians,Lloguer mitjà per superfície (Euros/m2 mes),11.15
573,2017,4,9,Sant Andreu,63,Navas,Lloguer mitjà per superfície (Euros/m2 mes),11.69
574,2017,4,10,Sant Martí,64,el Camp de l'Arpa del Clot,Lloguer mitjà per superfície (Euros/m2 mes),13.26
575,2017,4,10,Sant Martí,65,el Clot,Lloguer mitjà per superfície (Euros/m2 mes),12.47
576,2017,4,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),13.38
577,2017,4,10,Sant Martí,67,la Vila Olímpica del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),17.65
578,2017,4,10,Sant Martí,68,el Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),14.21
579,2017,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),16.51
580,2017,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),10.40
581,2017,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),12.66
582,2017,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),10.83
583,2017,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),10.38

In [144]:
### sum by district

mean_rent=pd.DataFrame(rent.groupby('Nom_Districte').mean()['Preu']) ## I calculated the mean rent price by district

In [145]:
mean_rent

                           Preu
Nom_Districte
Ciutat Vella         431.033125
Eixample             495.361875
Gràcia               423.915500
Horta-Guinardó       365.100000
Les Corts            625.155000
Nou Barris           296.435444
Sant Andreu          341.061250
Sant Martí           441.297750
Sants-Montjuïc       386.458750
Sarrià-Sant Gervasi  648.679792

In [153]:
domicilios = pd.read_csv("/Users/p/Documents/Ironhack/Projects/Project-Week-2-Barcelona/datasets/6.-Extra/2017_domicilis_nacionalitat.csv")

In [154]:
domicilios

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Nacionalitat,Nombre
0,2017,1,Ciutat Vella,1,el Raval,Tots espanyols,8529
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,3353
2,2017,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,4184
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,5560
4,2017,2,Eixample,5,el Fort Pienc,Tots espanyols,9820
5,2017,2,Eixample,6,la Sagrada Família,Tots espanyols,17167
6,2017,2,Eixample,7,la Dreta de l'Eixample,Tots espanyols,13526
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Tots espanyols,13689
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,Tots espanyols,19562
9,2017,2,Eixample,10,Sant Antoni,Tots espanyols,12525
10,2017,3,Sants-Montjuïc,11,el Poble Sec,Tots espanyols,10853
11,2017,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Tots espanyols,398
12,2017,3,Sants-Montjuïc,13,la Marina de Port,Tots espanyols,10021
13,2017,3,Sants-Montjuïc,14,la Font de la Guatlla,Tots espanyols,3383
14,2017,3,Sants-Montjuïc,15,Hostafrancs,Tots espanyols,5026
15,2017,3,Sants-Montjuïc,16,la Bordeta,Tots espanyols,6433
16,2017,3,Sants-Montjuïc,17,Sants - Badal,Tots espanyols,8109
17,2017,3,Sants-Montjuïc,18,Sants,Tots espanyols,13985
18,2017,4,Les Corts,19,les Corts,Tots espanyols,16413
19,2017,4,Les Corts,20,la Maternitat i Sant Ramon,Tots espanyols,8386
20,2017,4,Les Corts,21,Pedralbes,Tots espanyols,3355
21,2017,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",Tots espanyols,1241
22,2017,5,Sarrià-Sant Gervasi,23,Sarrià,Tots espanyols,7368
23,2017,5,Sarrià-Sant Gervasi,24,les Tres Torres,Tots espanyols,4792
24,2017,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Tots espanyols,7876
25,2017,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,Tots espanyols,15415
26,2017,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,Tots espanyols,10006
27,2017,6,Gràcia,28,Vallcarca i els Penitents,Tots espanyols,5342
28,2017,6,Gràcia,29,el Coll,Tots espanyols,2538
29,2017,6,Gràcia,30,la Salut,Tots espanyols,4503
...,...,...,...,...,...,...,...
189,2017,8,Nou Barris,44,Vilapicina i la Torre Llobeta,Domicilis mixtos,919
190,2017,8,Nou Barris,45,Porta,Domicilis mixtos,922
191,2017,8,Nou Barris,46,el Turó de la Peira,Domicilis mixtos,814
192,2017,8,Nou Barris,47,Can Peguera,Domicilis mixtos,69
193,2017,8,Nou Barris,48,la Guineueta,Domicilis mixtos,364
194,2017,8,Nou Barris,49,Canyelles,Domicilis mixtos,108
195,2017,8,Nou Barris,50,les Roquetes,Domicilis mixtos,664
196,2017,8,Nou Barris,51,Verdun,Domicilis mixtos,537
197,2017,8,Nou Barris,52,la Prosperitat,Domicilis mixtos,884
198,2017,8,Nou Barris,53,la Trinitat Nova,Domicilis mixtos,299
199,2017,8,Nou Barris,54,Torre Baró,Domicilis mixtos,134
200,2017,8,Nou Barris,55,Ciutat Meridiana,Domicilis mixtos,585
201,2017,8,Nou Barris,56,Vallbona,Domicilis mixtos,51
202,2017,9,Sant Andreu,57,la Trinitat Vella,Domicilis mixtos,530
203,2017,9,Sant Andreu,58,Baró de Viver,Domicilis mixtos,101
204,2017,9,Sant Andreu,59,el Bon Pastor,Domicilis mixtos,375
205,2017,9,Sant Andreu,60,Sant Andreu,Domicilis mixtos,1491
206,2017,9,Sant Andreu,61,la Sagrera,Domicilis mixtos,1078
207,2017,9,Sant Andreu,62,el Congrés i els Indians,Domicilis mixtos,541
208,2017,9,Sant Andreu,63,Navas,Domicilis mixtos,895
209,2017,10,Sant Martí,64,el Camp de l'Arpa del Clot,Domicilis mixtos,1732
210,2017,10,Sant Martí,65,el Clot,Domicilis mixtos,1005
211,2017,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Domicilis mixtos,721
212,2017,10,Sant Martí,67,la Vila Olímpica del Poblenou,Domicilis mixtos,423
213,2017,10,Sant Martí,68,el Poblenou,Domicilis mixtos,1478
214,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Domicilis mixtos,542
215,2017,10,Sant Martí,70,el Besòs i el Maresme,Domicilis mixtos,884
216,2017,10,Sant Martí,71,Provençals del Poblenou,Domicilis mixtos,696
217,2017,10,Sant Martí,72,Sant Martí de Provençals,Domicilis mixtos,809
218,2017,10,Sant Martí,73,la Verneda i la Pau,Domicilis mixtos,805

In [169]:
domicilios_by_district = domicilios.groupby(['Nom_Districte', 'Nacionalitat'])[['Nombre']].sum() ## I calculated the mean rent price by district

In [ ]:
domicilios_by_district.join()

In [173]:
merging = domicilios_by_district.reset_index()

In [175]:
merging2 = mean_rent.reset_index()

In [230]:
rent_by_nacionality = merging.merge(merging2, how='inner', on='Nom_Districte')

In [231]:
rent_by_nacionality.index = [rent_by_nacionality.Nom_Districte, rent_by_nacionality.Nacionalitat]

In [232]:
rent_by_nacionality

                                            Nom_Districte      Nacionalitat  \
Nom_Districte       Nacionalitat
Ciutat Vella        Domicilis mixtos         Ciutat Vella  Domicilis mixtos
                    Tots espanyols           Ciutat Vella    Tots espanyols
                    Tots estrangers          Ciutat Vella   Tots estrangers
Eixample            Domicilis mixtos             Eixample  Domicilis mixtos
                    Tots espanyols               Eixample    Tots espanyols
                    Tots estrangers              Eixample   Tots estrangers
Gràcia              Domicilis mixtos               Gràcia  Domicilis mixtos
                    Tots espanyols                 Gràcia    Tots espanyols
                    Tots estrangers                Gràcia   Tots estrangers
Horta-Guinardó      Domicilis mixtos       Horta-Guinardó  Domicilis mixtos
                    Tots espanyols         Horta-Guinardó    Tots espanyols
                    Tots estrangers        Horta-Guinardó   Tots estrangers
Les Corts           Domicilis mixtos            Les Corts  Domicilis mixtos
                    Tots espanyols              Les Corts    Tots espanyols
                    Tots estrangers             Les Corts   Tots estrangers
Nou Barris          Domicilis mixtos           Nou Barris  Domicilis mixtos
                    Tots espanyols             Nou Barris    Tots espanyols
                    Tots estrangers            Nou Barris   Tots estrangers
Sant Andreu         Domicilis mixtos          Sant Andreu  Domicilis mixtos
                    Tots espanyols            Sant Andreu    Tots espanyols
                    Tots estrangers           Sant Andreu   Tots estrangers
Sant Martí          Domicilis mixtos           Sant Martí  Domicilis mixtos
                    Tots espanyols             Sant Martí    Tots espanyols
                    Tots estrangers            Sant Martí   Tots estrangers
Sants-Montjuïc      Domicilis mixtos       Sants-Montjuïc  Domicilis mixtos
                    Tots espanyols         Sants-Montjuïc    Tots espanyols
                    Tots estrangers        Sants-Montjuïc   Tots estrangers
Sarrià-Sant Gervasi Domicilis mixtos  Sarrià-Sant Gervasi  Domicilis mixtos
                    Tots espanyols    Sarrià-Sant Gervasi    Tots espanyols
                    Tots estrangers   Sarrià-Sant Gervasi   Tots estrangers

                                      Nombre        Preu
Nom_Districte       Nacionalitat
Ciutat Vella        Domicilis mixtos    7396  431.033125
                    Tots espanyols     21626  431.033125
                    Tots estrangers    11670  431.033125
Eixample            Domicilis mixtos   13464  495.361875
                    Tots espanyols     86289  495.361875
                    Tots estrangers    12805  495.361875
Gràcia              Domicilis mixtos    5481  423.915500
                    Tots espanyols     41960  423.915500
                    Tots estrangers     5180  423.915500
Horta-Guinardó      Domicilis mixtos    6055  365.100000
                    Tots espanyols     59434  365.100000
                    Tots estrangers     3899  365.100000
Les Corts           Domicilis mixtos    2649  625.155000
                    Tots espanyols     28154  625.155000
                    Tots estrangers     2201  625.155000
Nou Barris          Domicilis mixtos    6350  296.435444
                    Tots espanyols     55976  296.435444
                    Tots estrangers     3986  296.435444
Sant Andreu         Domicilis mixtos    5011  341.061250
                    Tots espanyols     51318  341.061250
                    Tots estrangers     2845  341.061250
Sant Martí          Domicilis mixtos    9095  441.297750
                    Tots espanyols     77260  441.297750
                    Tots estrangers     8040  441.297750
Sants-Montjuïc      Domicilis mixtos    8645  386.458750
                    Tots espanyols     58208  386.458750
                    Tots estrangers     7034  386.458750
Sarrià-Sant Gervasi Domicilis mixtos    5399  648.679792
                    Tots espanyols     46698  648.679792
                    Tots estrangers     4247  648.679792

In [233]:
rent_by_nacionality.apply(lambda x: print(x), axis=1)

Nom_Districte        Ciutat Vella
Nacionalitat     Domicilis mixtos
Nombre                       7396
Preu                      431.033
Name: (Ciutat Vella, Domicilis mixtos), dtype: object
Nom_Districte      Ciutat Vella
Nacionalitat     Tots espanyols
Nombre                    21626
Preu                    431.033
Name: (Ciutat Vella, Tots espanyols), dtype: object
Nom_Districte       Ciutat Vella
Nacionalitat     Tots estrangers
Nombre                     11670
Preu                     431.033
Name: (Ciutat Vella, Tots estrangers), dtype: object
Nom_Districte            Eixample
Nacionalitat     Domicilis mixtos
Nombre                      13464
Preu                      495.362
Name: (Eixample, Domicilis mixtos), dtype: object
Nom_Districte          Eixample
Nacionalitat     Tots espanyols
Nombre                    86289
Preu                    495.362
Name: (Eixample, Tots espanyols), dtype: object
Nom_Districte           Eixample
Nacionalitat     Tots estrangers
Nombre                     12805
Preu                     495.362
Name: (Eixample, Tots estrangers), dtype: object
Nom_Districte              Gràcia
Nacionalitat     Domicilis mixtos
Nombre                       5481
Preu                      423.916
Name: (Gràcia, Domicilis mixtos), dtype: object
Nom_Districte            Gràcia
Nacionalitat     Tots espanyols
Nombre                    41960
Preu                    423.916
Name: (Gràcia, Tots espanyols), dtype: object
Nom_Districte             Gràcia
Nacionalitat     Tots estrangers
Nombre                      5180
Preu                     423.916
Name: (Gràcia, Tots estrangers), dtype: object
Nom_Districte      Horta-Guinardó
Nacionalitat     Domicilis mixtos
Nombre                       6055
Preu                        365.1
Name: (Horta-Guinardó, Domicilis mixtos), dtype: object
Nom_Districte    Horta-Guinardó
Nacionalitat     Tots espanyols
Nombre                    59434
Preu                      365.1
Name: (Horta-Guinardó, Tots espanyols), dtype: object
Nom_Districte     Horta-Guinardó
Nacionalitat     Tots estrangers
Nombre                      3899
Preu                       365.1
Name: (Horta-Guinardó, Tots estrangers), dtype: object
Nom_Districte           Les Corts
Nacionalitat     Domicilis mixtos
Nombre                       2649
Preu                      625.155
Name: (Les Corts, Domicilis mixtos), dtype: object
Nom_Districte         Les Corts
Nacionalitat     Tots espanyols
Nombre                    28154
Preu                    625.155
Name: (Les Corts, Tots espanyols), dtype: object
Nom_Districte          Les Corts
Nacionalitat     Tots estrangers
Nombre                      2201
Preu                     625.155
Name: (Les Corts, Tots estrangers), dtype: object
Nom_Districte          Nou Barris
Nacionalitat     Domicilis mixtos
Nombre                       6350
Preu                      296.435
Name: (Nou Barris, Domicilis mixtos), dtype: object
Nom_Districte        Nou Barris
Nacionalitat     Tots espanyols
Nombre                    55976
Preu                    296.435
Name: (Nou Barris, Tots espanyols), dtype: object
Nom_Districte         Nou Barris
Nacionalitat     Tots estrangers
Nombre                      3986
Preu                     296.435
Name: (Nou Barris, Tots estrangers), dtype: object
Nom_Districte         Sant Andreu
Nacionalitat     Domicilis mixtos
Nombre                       5011
Preu                      341.061
Name: (Sant Andreu, Domicilis mixtos), dtype: object
Nom_Districte       Sant Andreu
Nacionalitat     Tots espanyols
Nombre                    51318
Preu                    341.061
Name: (Sant Andreu, Tots espanyols), dtype: object
Nom_Districte        Sant Andreu
Nacionalitat     Tots estrangers
Nombre                      2845
Preu                     341.061
Name: (Sant Andreu, Tots estrangers), dtype: object
Nom_Districte          Sant Martí
Nacionalitat     Domicilis mixtos
Nombre                       9095
Preu                      441.298
Name: (Sant Martí, Domicilis mixtos), dtype: object
Nom_Districte        Sant Martí
Nacionalitat     Tots espanyols
Nombre                    77260
Preu                    441.298
Name: (Sant Martí, Tots espanyols), dtype: object
Nom_Districte         Sant Martí
Nacionalitat     Tots estrangers
Nombre                      8040
Preu                     441.298
Name: (Sant Martí, Tots estrangers), dtype: object
Nom_Districte      Sants-Montjuïc
Nacionalitat     Domicilis mixtos
Nombre                       8645
Preu                      386.459
Name: (Sants-Montjuïc, Domicilis mixtos), dtype: object
Nom_Districte    Sants-Montjuïc
Nacionalitat     Tots espanyols
Nombre                    58208
Preu                    386.459
Name: (Sants-Montjuïc, Tots espanyols), dtype: object
Nom_Districte     Sants-Montjuïc
Nacionalitat     Tots estrangers
Nombre                      7034
Preu                     386.459
Name: (Sants-Montjuïc, Tots estrangers), dtype: object
Nom_Districte    Sarrià-Sant Gervasi
Nacionalitat        Domicilis mixtos
Nombre                          5399
Preu                          648.68
Name: (Sarrià-Sant Gervasi, Domicilis mixtos), dtype: object
Nom_Districte    Sarrià-Sant Gervasi
Nacionalitat          Tots espanyols
Nombre                         46698
Preu                          648.68
Name: (Sarrià-Sant Gervasi, Tots espanyols), dtype: object
Nom_Districte    Sarrià-Sant Gervasi
Nacionalitat         Tots estrangers
Nombre                          4247
Preu                          648.68
Name: (Sarrià-Sant Gervasi, Tots estrangers), dtype: object

Nom_Districte        Nacionalitat
Ciutat Vella         Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
Eixample             Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
Gràcia               Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
Horta-Guinardó       Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
Les Corts            Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
Nou Barris           Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
Sant Andreu          Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
Sant Martí           Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
Sants-Montjuïc       Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
Sarrià-Sant Gervasi  Domicilis mixtos    None
                     Tots espanyols      None
                     Tots estrangers     None
dtype: object

In [234]:
rent_by_nacionality.loc['Ciutat Vella',]['Nombre']

Nacionalitat
Domicilis mixtos     7396
Tots espanyols      21626
Tots estrangers     11670
Name: Nombre, dtype: int64

In [235]:
def nationality_percentage(df):
    """
    Input: DataFrame
    Output: np.array
    
    # The function goes through each of the diffent inhabitants of the different districts and calculates the
    # percentage of each one.
    """
    districts = list(rent_by_nacionality.index.get_level_values(0).unique())
    percentages = []
    for i in districts:
        district_inhabitants = df.loc[i,]['Nombre']
        total = district_inhabitants.sum()
        mixtos = (district_inhabitants[0] / total) * 100
        spanish = (district_inhabitants[1] / total) * 100
        foreign = (district_inhabitants[2] / total) * 100
        
        percentages.append([mixtos, spanish, foreign])
    
    return np.array(percentages)

In [236]:
inhabitants_percentage = list(nationality_percentage(rent_by_nacionality).flatten())

In [237]:
rent_by_nacionality['Percentages'] = inhabitants_percentage

In [239]:
rent_by_nacionality = rent_by_nacionality[['Nom_Districte', 'Nacionalitat', 'Nombre', 'Percentages', 'Preu']]

In [240]:
rent_by_nacionality

                                            Nom_Districte      Nacionalitat  \
Nom_Districte       Nacionalitat
Ciutat Vella        Domicilis mixtos         Ciutat Vella  Domicilis mixtos
                    Tots espanyols           Ciutat Vella    Tots espanyols
                    Tots estrangers          Ciutat Vella   Tots estrangers
Eixample            Domicilis mixtos             Eixample  Domicilis mixtos
                    Tots espanyols               Eixample    Tots espanyols
                    Tots estrangers              Eixample   Tots estrangers
Gràcia              Domicilis mixtos               Gràcia  Domicilis mixtos
                    Tots espanyols                 Gràcia    Tots espanyols
                    Tots estrangers                Gràcia   Tots estrangers
Horta-Guinardó      Domicilis mixtos       Horta-Guinardó  Domicilis mixtos
                    Tots espanyols         Horta-Guinardó    Tots espanyols
                    Tots estrangers        Horta-Guinardó   Tots estrangers
Les Corts           Domicilis mixtos            Les Corts  Domicilis mixtos
                    Tots espanyols              Les Corts    Tots espanyols
                    Tots estrangers             Les Corts   Tots estrangers
Nou Barris          Domicilis mixtos           Nou Barris  Domicilis mixtos
                    Tots espanyols             Nou Barris    Tots espanyols
                    Tots estrangers            Nou Barris   Tots estrangers
Sant Andreu         Domicilis mixtos          Sant Andreu  Domicilis mixtos
                    Tots espanyols            Sant Andreu    Tots espanyols
                    Tots estrangers           Sant Andreu   Tots estrangers
Sant Martí          Domicilis mixtos           Sant Martí  Domicilis mixtos
                    Tots espanyols             Sant Martí    Tots espanyols
                    Tots estrangers            Sant Martí   Tots estrangers
Sants-Montjuïc      Domicilis mixtos       Sants-Montjuïc  Domicilis mixtos
                    Tots espanyols         Sants-Montjuïc    Tots espanyols
                    Tots estrangers        Sants-Montjuïc   Tots estrangers
Sarrià-Sant Gervasi Domicilis mixtos  Sarrià-Sant Gervasi  Domicilis mixtos
                    Tots espanyols    Sarrià-Sant Gervasi    Tots espanyols
                    Tots estrangers   Sarrià-Sant Gervasi   Tots estrangers

                                      Nombre  Percentages        Preu
Nom_Districte       Nacionalitat
Ciutat Vella        Domicilis mixtos    7396    18.175563  431.033125
                    Tots espanyols     21626    53.145581  431.033125
                    Tots estrangers    11670    28.678856  431.033125
Eixample            Domicilis mixtos   13464    11.961833  495.361875
                    Tots espanyols     86289    76.661810  495.361875
                    Tots estrangers    12805    11.376357  495.361875
Gràcia              Domicilis mixtos    5481    10.415994  423.915500
                    Tots espanyols     41960    79.740028  423.915500
                    Tots estrangers     5180     9.843979  423.915500
Horta-Guinardó      Domicilis mixtos    6055     8.726293  365.100000
                    Tots espanyols     59434    85.654580  365.100000
                    Tots estrangers     3899     5.619127  365.100000
Les Corts           Domicilis mixtos    2649     8.026300  625.155000
                    Tots espanyols     28154    85.304812  625.155000
                    Tots estrangers     2201     6.668889  625.155000
Nou Barris          Domicilis mixtos    6350     9.575944  296.435444
                    Tots espanyols     55976    84.413078  296.435444
                    Tots estrangers     3986     6.010978  296.435444
Sant Andreu         Domicilis mixtos    5011     8.468246  341.061250
                    Tots espanyols     51318    86.723899  341.061250
                    Tots estrangers     2845     4.807855  341.061250
Sant Martí          Domicilis mixtos    9095     9.635044  441.297750
                    Tots espanyols     77260    81.847555  441.297750
                    Tots estrangers     8040     8.517400  441.297750
Sants-Montjuïc      Domicilis mixtos    8645    11.700299  386.458750
                    Tots espanyols     58208    78.779758  386.458750
                    Tots estrangers     7034     9.519943  386.458750
Sarrià-Sant Gervasi Domicilis mixtos    5399     9.582209  648.679792
                    Tots espanyols     46698    82.880165  648.679792
                    Tots estrangers     4247     7.537626  648.679792