In [1]:
import pandas as  pd 

## we call the files necessary to answer the questions. In this case:  population

population = pd.read_csv('../Project-Week-2-Barcelona/datasets/3.-Population/population.csv')

In [10]:
############### WHAT IS THE MOST POPULATED DISTRICT IN BARCELONA? AND IN THE PAST?   ########################


########see the first rows of the file.csv

population.head()    
########see the names of the columns
                           
population.columns


################GLOBAL VISON ABOUT THE POPULATION  BY YEAR, DISTRICT  sorted by # of  people

district_global = population.groupby(['Year','District.Name']).sum().loc[:,['Number']]  
district_global.groupby(level=[0,1], group_keys=False).apply(lambda group: group.sort_values('Number', ascending=False))

################GLOBAL VISON ABOUT THE POPULATION  BY YEAR, DISTRICT  sorted by # of  people

#######Declaration to see how many people live in the year XXXX, grouped by the name of District and the age of people (indexes) and showing as data the #######of dead people.

district_2017 = population.loc[(population.Year == 2017)].groupby(['District.Name']).sum().loc[:,['Number']]  
district_2017.sort_values('Number', ascending = False)

                     Number
District.Name
Eixample             266416
Sant Martí           235513
Sants-Montjuïc       181910
Horta-Guinardó       168751
Nou Barris           166579
Sarrià-Sant Gervasi  149279
Sant Andreu          147594
Gràcia               121347
Ciutat Vella         101387
Les Corts             82033

In [19]:
            ## What is the most populated district in Barcelona.

district = population.loc[(population.Year == 2017)].groupby(['District.Name','Age','Gender']).sum().loc[:,['Number']]  
district

district2 = population.groupby(['Year','District.Name']).sum().loc[:,['Number']]  
district2.groupby(level=[0,1], group_keys=False).apply(lambda group: group.sort_values('Number', ascending=False))

                          Number
Year District.Name
2013 Ciutat Vella         103339
     Eixample             264780
     Gràcia               120949
     Horta-Guinardó       167743
     Les Corts             81640
     Nou Barris           165748
     Sant Andreu          146846
     Sant Martí           232826
     Sants-Montjuïc       182685
     Sarrià-Sant Gervasi  145266
2014 Ciutat Vella         100685
     Eixample             263565
     Gràcia               120273
     Horta-Guinardó       166950
     Les Corts             81200
     Nou Barris           164516
     Sant Andreu          145983
     Sant Martí           232629
     Sants-Montjuïc       180824
     Sarrià-Sant Gervasi  145761
2015 Ciutat Vella         100115
     Eixample             263558
     Gràcia               120401
     Horta-Guinardó       166559
     Les Corts             81530
     Nou Barris           164648
     Sant Andreu          146494
     Sant Martí           233659
     Sants-Montjuïc       180757
     Sarrià-Sant Gervasi  146834
2016 Ciutat Vella         100070
     Eixample             264305
     Gràcia               120918
     Horta-Guinardó       167268
     Les Corts             81642
     Nou Barris           164881
     Sant Andreu          146731
     Sant Martí           233928
     Sants-Montjuïc       180977
     Sarrià-Sant Gervasi  148026
2017 Ciutat Vella         101387
     Eixample             266416
     Gràcia               121347
     Horta-Guinardó       168751
     Les Corts             82033
     Nou Barris           166579
     Sant Andreu          147594
     Sant Martí           235513
     Sants-Montjuïc       181910
     Sarrià-Sant Gervasi  149279

            ## What is the death rate by age.
    ###How many people died in 2017?

death.head()                                            ##see the first rows of the file.csv
deaths_2017 = death.loc[(death.Year == 2017)].groupby(['Age']).sum().loc[:,['Number']]  
deaths_2017


            #How many people live currently in 2017?
population.head()                                            ##see the first rows of the file.csv
population_2017 = population.loc[(population.Year == 2017)].groupby(['Age']).sum().loc[:,['Number']]  
population_2017


            #The death_ratio is
ratio_death_age = deaths_2017.mul(100).div(population_2017.iloc[0])
ratio_death_age.sort_values('Number', ascending = False)
#ratio_death_age.describe()