In [1]:
import pandas as  pd 

## we call the files necessary to answer the questions. In this case: death and population

death = pd.read_csv('../Project-Week-2-Barcelona/datasets/3.-Population/deaths.csv')
population = pd.read_csv('../Project-Week-2-Barcelona/datasets/3.-Population/population.csv')
birth = pd.read_csv('../Project-Week-2-Barcelona/datasets/3.-Population/births.csv')

#######ADDITIONAL NOTE

###to save the excel file
####ratio_death_2017.to_excel(r'../Project-Week-2-Barcelona/your-project/images/ratio_death_2017.xlsx')
death.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,0-4,1
1,2017,1,Ciutat Vella,2,el Barri Gòtic,0-4,1
2,2017,1,Ciutat Vella,3,la Barceloneta,0-4,0
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,0
4,2017,2,Eixample,5,el Fort Pienc,0-4,0

In [8]:
   ###############HOW MANY PEOPLE DIED IN DIFFERENT DISTRICTS OF BARCELONA? AND IN DIFFERENT YEARS?########################



########see the first rows of the file.csv
death.head() 
########see the name of the columns
death.columns


########GLOBAL VISON ABOUT BORN PEOPLE BY YEAR, DISTRICT AND AGE sorted by # of dead people
death_cleaning = death.groupby(['Year','District.Name',]).sum().loc[:,['Number']] 
death_cleaning

death_cleaning_summary = death_cleaning.groupby(level=[0,1], group_keys=False).apply(lambda group: group.sort_values('Number', ascending=False))
death_cleaning_summary


#######Declaration to see how many dead people died  in 2017 year, grouped by the name of District.

death_2017 = death.loc[(death.Year == 2017)].groupby(['District.Name']).sum().loc[:,['Number']]  
death_2017 .sort_values('Number', ascending = False)

#######Declaration to see how many dead people died  in 2017 year, grouped by the age of people.

death_2017_age = death.loc[(death.Year == 2017)].groupby(['Age']).sum().loc[:,['Number']]  
death_2017_age.sort_values('Number', ascending = False)

       Number
Age
85-89    3424
90-94    3012
80-84    2534
75-79    1389
95-99    1352
70-74    1082
65-69     803
60-64     586
55-59     422
50-54     284
>=100     272
45-49     154
40-44      99
35-39      52
30-34      24
0-4        23
25-29      17
20-24      12
15-19      10
10-14       7
5-9         6

    ###############HOW MANY PEOPLE LIVE IN DIFFERENT DISTRICTS OF BARCELONA? AND IN DIFFERENT YEARS?########################



#######How many people live currently in 2017?
population.head()   


########GLOBAL VISON ABOUT POPULATION  BY YEAR, DISTRICT AND AGE sorted by # people
population_cleaning = population.groupby(['Year','District.Name','Age']).sum().loc[:,['Number']] 
population_summary = population_cleaning.groupby(level=[0,1], group_keys=False).apply(lambda group: group.sort_values('Number', ascending=False))
population_summary




#######Declaration to see how many people live in XXXX, grouped by the name of District and the age of people (indexes) and showing as data the #######of dead people.
population_2017 = population.loc[(population.Year == 2017)].groupby(['District.Name']).sum().loc[:,['Number']]  
population_2017.sort_values('Number', ascending = False)

In [85]:
ratio_death_2017

                        Number
District.Name
Ciutat Vella          8.018780
Eixample             10.277161
Gràcia                9.691216
Horta-Guinardó       10.702159
Les Corts             9.325515
Nou Barris           10.499523
Sant Andreu           8.984105
Sant Martí            8.785078
Sants-Montjuïc        9.675114
Sarrià-Sant Gervasi   9.123855

In [4]:
###############WHAT IS THE DEATH RATIO IN BARCELONA FOR DIFFERENT DISTRICTS OF BARCELONA?########################

#######The death_ratio is  for different YEARS, different District and for different ages range.

ratio_death = deaths_cleaning.mul(1000).div(population_cleaning.iloc[0])
ratio_death

#######Declaration to see how much is the death ratio for each year ('15,'16, '17) in different districts in Barcelona, grouping by ages. 

ratio_death_2016 = deaths_2016.mul(1000).div(population_2016)
ratio_death_2016.sort_values('Number', ascending = False)


###to save the excel file
####ratio_death_2017.to_excel(r'../Project-Week-2-Barcelona/your-project/images/ratio_death_2017.xlsx')

NameError: name 'deaths_cleaning' is not defined