Questions on Immigration

In [1]:
import pandas as pd

What is the most frequent nationality?
Is there more male or female immigrants?
Are they young or old? How much is the difference between these range? (define age ranges before)
Do immigrants live in neighbourhoods where mean rent is lower?
Do immigrants of the same nationality settle close to one another?

In [2]:
##files to import

by_nationality = pd.read_csv("/Users/p/Documents/Ironhack/Projects/Project-Week-2-Barcelona/datasets/3.-Population/immigrants-by-nationality.csv")
population=pd.read_csv("/Users/p/Documents/Ironhack/Projects/Project-Week-2-Barcelona/datasets/3.-Population/population.csv")

In [ ]:
by_nationality

In [ ]:
population

In [7]:
## I want to calculate the percentage of the population that are foreigners, so I created the variables for the population of each year

population_tot=population.groupby(['Year']).sum().loc[:,'Number']
population_2017=population_tot[2017]
population_2016=population_tot[2016]
population_2015=population_tot[2015]

population_2015
population_2016
population_2017

numpy.int64

In [ ]:
by_nationality.dtypes # checked what data types exist in the dataframe

In [12]:
""""
This dataframe includes Spanish people from outside Barcelona as immigrants in Barcelona.
So, I created a dataframe for all immigrants that are not from Spain because they are qualitatively different in 
terms of rights, access to public services and other relevant stuff
"""

'"\nThis dataframe includes Spanish people from outside Barcelona as immigrants in Barcelona.\nSo, I created a dataframe for all immigrants that are not from Spain because they are qualitatively different in \nterms of rights, access to public services and other relevant stuff\n'

In [9]:

foreigners = by_nationality.loc[(by_nationality.Nationality != "Spain")]

In [10]:
foreigners

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
74,2017,1,Ciutat Vella,1,el Raval,Italy,360
75,2017,1,Ciutat Vella,2,el Barri Gòtic,Italy,275
76,2017,1,Ciutat Vella,3,la Barceloneta,Italy,285
77,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Italy,355
78,2017,2,Eixample,5,el Fort Pienc,Italy,207
79,2017,2,Eixample,6,la Sagrada Família,Italy,295
80,2017,2,Eixample,7,la Dreta de l'Eixample,Italy,284
81,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Italy,280
82,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,Italy,314
83,2017,2,Eixample,10,Sant Antoni,Italy,188
84,2017,3,Sants-Montjuïc,11,el Poble Sec,Italy,270
85,2017,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Italy,0
86,2017,3,Sants-Montjuïc,13,la Marina de Port,Italy,45
87,2017,3,Sants-Montjuïc,14,la Font de la Guatlla,Italy,42
88,2017,3,Sants-Montjuïc,15,Hostafrancs,Italy,72
89,2017,3,Sants-Montjuïc,16,la Bordeta,Italy,44
90,2017,3,Sants-Montjuïc,17,Sants - Badal,Italy,56
91,2017,3,Sants-Montjuïc,18,Sants,Italy,155
92,2017,4,Les Corts,19,les Corts,Italy,130
93,2017,4,Les Corts,20,la Maternitat i Sant Ramon,Italy,52
94,2017,4,Les Corts,21,Pedralbes,Italy,23
95,2017,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",Italy,12
96,2017,5,Sarrià-Sant Gervasi,23,Sarrià,Italy,77
97,2017,5,Sarrià-Sant Gervasi,24,les Tres Torres,Italy,26
98,2017,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Italy,49
99,2017,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,Italy,135
100,2017,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,Italy,97
101,2017,6,Gràcia,28,Vallcarca i els Penitents,Italy,42
102,2017,6,Gràcia,29,el Coll,Italy,27
103,2017,6,Gràcia,30,la Salut,Italy,50
...,...,...,...,...,...,...,...
35194,2015,8,Nou Barris,45,Porta,No information,0
35195,2015,8,Nou Barris,46,el Turó de la Peira,No information,0
35196,2015,8,Nou Barris,47,Can Peguera,No information,0
35197,2015,8,Nou Barris,48,la Guineueta,No information,0
35198,2015,8,Nou Barris,49,Canyelles,No information,0
35199,2015,8,Nou Barris,50,les Roquetes,No information,0
35200,2015,8,Nou Barris,51,Verdun,No information,0
35201,2015,8,Nou Barris,52,la Prosperitat,No information,0
35202,2015,8,Nou Barris,53,la Trinitat Nova,No information,0
35203,2015,8,Nou Barris,54,Torre Baró,No information,0
35204,2015,8,Nou Barris,55,Ciutat Meridiana,No information,0
35205,2015,8,Nou Barris,56,Vallbona,No information,0
35206,2015,9,Sant Andreu,57,la Trinitat Vella,No information,0
35207,2015,9,Sant Andreu,58,Baró de Viver,No information,0
35208,2015,9,Sant Andreu,59,el Bon Pastor,No information,0
35209,2015,9,Sant Andreu,60,Sant Andreu,No information,1
35210,2015,9,Sant Andreu,61,la Sagrera,No information,1
35211,2015,9,Sant Andreu,62,el Congrés i els Indians,No information,0
35212,2015,9,Sant Andreu,63,Navas,No information,0
35213,2015,10,Sant Martí,64,el Camp de l'Arpa del Clot,No information,0
35214,2015,10,Sant Martí,65,el Clot,No information,1
35215,2015,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,No information,2
35216,2015,10,Sant Martí,67,la Vila Olímpica del Poblenou,No information,1
35217,2015,10,Sant Martí,68,el Poblenou,No information,1
35218,2015,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,No information,0
35219,2015,10,Sant Martí,70,el Besòs i el Maresme,No information,0
35220,2015,10,Sant Martí,71,Provençals del Poblenou,No information,0
35221,2015,10,Sant Martí,72,Sant Martí de Provençals,No information,0
35222,2015,10,Sant Martí,73,la Verneda i la Pau,No information,1
35223,2015,99,No consta,99,No consta,No information,0

In [ ]:
by_nationality=by_nationality.rename(columns={'Neighborhood Name':'Neighborhood_Name',
                               'District Name':'District_Name',
                               'District Code':'District_Code',
                               'Neighborhood Code':'Neighborhood_Code'
                              }) ## I renamed some of the headers so they didn't have a whitespace

In [ ]:
by_nationality.Year.unique() # checked which were the possible years

In [ ]:
by_nationality.District_Name.unique() # checked which were the possible Districts

In [ ]:
by_nationality.Neighborhood_Name.unique() # checked which were the possible Neighborhoods

In [ ]:
by_nationality.Nationality.unique() # checked which were the possible nationalities

What is the total number of immigrants by year?

In [13]:
by_nationality.groupby('Year').sum()['Number']

Year
2015    88982
2016    85172
2017    97327
Name: Number, dtype: int64

In [ ]:
"""
I created a variable with the value for each year to calculate percentage 
of immigrants over total population per year

"""

In [17]:
foreigners_tot=foreigners.groupby(['Year']).sum().loc[:,'Number']
foreigners_2017=foreigners_tot[2017]
foreigners_2016=foreigners_tot[2016]
foreigners_2015=foreigners_tot[2015]

52122

In [23]:
foreigners_2017_perc=(foreigners_2017/population_2017)*100
foreigners_2016_perc=(foreigners_2016/population_2016)*100
foreigners_2015_perc=(foreigners_2015/population_2015)*100

What is the most frequent nationality of immigrants in Barcelona?

In [73]:
freq_nationalities=pd.DataFrame(by_nationality.groupby(['Year','Nationality']).sum().loc[:,'Number'])

In [74]:
freq_nationalities_f=pd.DataFrame(foreigners.groupby(['Year','Nationality']).sum().loc[:,'Number'])

In [89]:
freq_nationalities_f=pd.DataFrame(foreigners.loc[(foreigners.Year == 2015)].groupby(['Nationality']).sum().loc[:,'Number'])
freq_nationalities_f.sort_values('Number', ascending =False)

                          Number
Nationality
Italy                       4811
Pakistan                    3708
China                       3091
France                      2176
Colombia                    1971
Morocco                     1934
Honduras                    1880
Venezuela                   1571
Peru                        1416
Brasil                      1410
India                       1371
Ecuador                     1335
Russia                      1322
Argentina                   1208
Bolivia                     1147
United States               1128
Mexico                      1119
Dominican Republic          1117
United Kingdom              1112
Romania                     1074
Ukraine                     1033
Germany                      980
Philippines                  769
Chile                        754
Portugal                     741
Paraguay                     609
Bangladesh                   593
Netherlands                  491
Georgia                      485
Poland                       421
...                          ...
Uganda                         3
Benin                          3
Yemen                          3
Dominica                       3
Ethiopia                       3
Sudan                          3
Qatar                          3
Somalia                        3
Madagascar                     3
Jamaica                        3
Gabon                          2
Central African Republic       2
Mauritius                      2
Rwanda                         2
Cape Verde                     2
Seychelles                     1
Trinidad and Tobago            1
Sierra Leone                   1
Namibia                        1
Taiwan                         1
Saint Kitts and Nevis          1
Cambodja                       1
Burundi                        1
Djibouti                       1
Maldives                       1
Barbados                       1
Bahrain                        1
Grenada                        1
Swaziland                      1
Oman                           1

[153 rows x 1 columns]

In [79]:
freq_nationalities_f.order

                               Number
Year Nationality
2015 Afghanistan                   20
     Albania                       63
     Algeria                      292
     Andorra                       71
     Angola                        10
     Argentina                   1208
     Armenia                      243
     Australia                     82
     Austria                      116
     Azerbaijan                    46
     Bahrain                        1
     Bangladesh                   593
     Barbados                       1
     Belarus                       74
     Belgium                      277
     Benin                          3
     Bolivia                     1147
     Bosnia and Herzegovina        17
     Brasil                      1410
     Bulgaria                     282
     Burkina Faso                   4
     Burundi                        1
     Cambodja                       1
     Camerun                       42
     Canada                       175
     Cape Verde                     2
     Central African Republic       2
     Chile                        754
     China                       3091
     Colombia                    1971
...                               ...
2017 Somalia                        2
     South Africa                  44
     South Korea                  230
     Sri Lanka                      5
     State of Palestine            31
     Sudan                         14
     Sweden                       302
     Switzerland                  194
     Syria                        115
     São Tomé and Príncipe          1
     Tanzania                      13
     Thailand                      23
     The Bahamas                    2
     Togo                           4
     Trinidad and Tobago            6
     Tunisia                       72
     Turkey                       446
     Turkmenistan                   4
     Uganda                         7
     Ukraine                      894
     United Arab Emirates           4
     United Kingdom              1459
     United States               1507
     Uruguay                      329
     Uzbekistan                    30
     Venezuela                   3021
     Vietnam                      107
     Yemen                          2
     Zambia                         2
     Zimbabwe                       3

[473 rows x 1 columns]

In [78]:
freq_nationalities_f.sort_values('Number', ascending=False)

                            Number
Year Nationality
2017 Italy                    6309
2016 Italy                    4973
2015 Italy                    4811
     Pakistan                 3708
2017 China                    3299
     Colombia                 3255
2015 China                    3091
2016 Pakistan                 3032
2017 Venezuela                3021
     Pakistan                 2967
2016 China                    2959
2017 Honduras                 2767
     France                   2670
2016 Colombia                 2551
2017 Peru                     2473
2016 France                   2263
2015 France                   2176
2016 Honduras                 2087
     Venezuela                2050
2015 Colombia                 1971
     Morocco                  1934
2017 Morocco                  1931
     Argentina                1885
2015 Honduras                 1880
2017 Brasil                   1757
2016 Morocco                  1709
     Peru                     1609
2015 Venezuela                1571
2016 Brasil                   1512
2017 United States            1507
...                            ...
2016 São Tomé and Príncipe       1
2015 Barbados                    1
     Bahrain                     1
2016 Tajikistan                  1
     North Korea                 1
2017 Cape Verde                  1
     Bahrain                     1
2015 Grenada                     1
     Seychelles                  1
     Saint Kitts and Nevis       1
     Swaziland                   1
2017 Laos                        1
2015 Taiwan                      1
2016 Togo                        1
2015 Oman                        1
     Trinidad and Tobago         1
     Namibia                     1
2016 Barbados                    1
2017 Oman                        1
     Grenada                     1
2015 Maldives                    1
2016 East Timor                  1
     Guyana                      1
     Lesotho                     1
     Liberia                     1
     Maldives                    1
2015 Sierra Leone                1
2017 Barbados                    1
     Solomon Islands             1
2016 The Bahamas                 1

[473 rows x 1 columns]

In [ ]:
pd.DataFrame(by_nationality.groupby(['District_Name','Nationality']).sum().loc['Ciutat Vella', 'Number']).sort_values('Number', ascending=False)

In [ ]:

by_nationality.Nationality.value_counts()

In [ ]:
by_nationality.groupby("Year").sum()

In [ ]:
#by_nationality.groupby(["Year","District_Name"]).sum() ## if you reverse the order you get the inverse order of columns
by_nationality.groupby(["District_Name","Year"]).mean()
by_nationality.groupby(["District_Name","Year"]).mean().loc[("Ciutat Vella",2015)]

Do immigrants of the same nationality settle in the same Districts?

In [34]:
foreigners.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
74,2017,1,Ciutat Vella,1,el Raval,Italy,360
75,2017,1,Ciutat Vella,2,el Barri Gòtic,Italy,275
76,2017,1,Ciutat Vella,3,la Barceloneta,Italy,285
77,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Italy,355
78,2017,2,Eixample,5,el Fort Pienc,Italy,207

In [35]:
foreigners.groupby(["District Name","Year"]).sum()

                          District Code  Neighborhood Code  Number
District Name       Year
Ciutat Vella        2015            612               1530    8818
                    2016            648               1620    8686
                    2017            632               1580   10069
Eixample            2015           1836               6885   10124
                    2016           1944               7290   10622
                    2017           1896               7110   12487
Gràcia              2015           4590              22950    3642
                    2016           4860              24300    3559
                    2017           4740              23700    4310
Horta-Guinardó      2015          11781              63954    3349
                    2016          12474              67716    3699
                    2017          12166              66044    4544
Les Corts           2015           1836               9180    1999
                    2016           1944               9720    2031
                    2017           1896               9480    2420
No consta           2015          15147              15147       3
                    2016          16038              16038       2
                    2017          15642              15642       0
Nou Barris          2015          15912              99450    3955
                    2016          16848             105300    4308
                    2017          16432             102700    5261
Sant Andreu         2015           9639              64260    2891
                    2016          10206              68040    2997
                    2017           9954              66360    3622
Sant Martí          2015          15300             104805    6468
                    2016          16200             110970    6718
                    2017          15800             108230    7994
Sants-Montjuïc      2015           3672              17748    6432
                    2016           3888              18792    6192
                    2017           3792              18328    7464
Sarrià-Sant Gervasi 2015           4590              22491    3275
                    2016           4860              23814    3308
                    2017           4740              23226    3802